<!DOCTYPE html>
<html>
<head>
    <style>
    body {
        font-family: Arial;
        background-color: #f4f4f4;
        padding: 20px;
    }
    h1 {
        color: darkblue;
    }
</style>
    <title>My First Page</title>
</head>
<body>

    <h1>Welcome to my Django website!</h1>

    <h2>About Me</h2>
    <p>Hello! My name is Barsha. I am learning Django and web development.</p>

    <h2>My Skills</h2>
    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>HTML</li>
    </ul>

    <h2>Contact</h2>
    <p>Email: barshabhandari906@gmail.com</p>

</body>
</html>